---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
// $background-color: #fdfdfd;
// para bater com a cor de fundo do logo
// quando tivermos o logo com fundo transparente
// podemos voltar a cor original
$background-color: #ffffff;
$brand-color:      #2a7ae2;

$ruby-color:       #eb5745;
$ruby-color-light: lighten($ruby-color, 30%);
$ruby-color-dark:  darken($ruby-color, 15%);

$blue-color:       #00c3cc;
$blue-color-light: lighten($blue-color, 30%);
$blue-color-dark:  darken($blue-color, 15%);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "pages",
        "syntax-highlighting"
;
