---
layout: promo
title: Jumpstart
description: "O empurrão que você precisa pra sair do zero e no menor tempo possível ficar pronto para o mercado de trabalho."
thumbnail: /assets/jumpstart.png
brand: logo-jumpstart.png
redirect_from: /jumpstart.html
---

<div id="plc">

  <div class="videos-container">
    {% include youtube.html id="ttJnApOQOT0" %}
    {% include youtube.html id="SSObvOUkbf0" %}
    {% include youtube.html id="xjWopWNNhGI" %}
  </div>

  <ul class="videos">
    <li class="active"><a href="#video-1">1</a></li>
    <li class="active"><a href="#video-2">2</a></li>
    <li class="active"><a href="#video-3">3</a></li>
    <li><a href="#">Inscrições 07/12</a></li>
  </ul>

  <div class="g-ytsubscribe" data-channelid="UCEinXIZkk1flS_bLm504_2A" data-layout="full" data-count="default"></div>

  <div class="fb-comments"
    data-href="http://www.rubycoach.com.br/jumpstart-inscricoes.html"
    data-numposts="30"
    data-width="100%"
    data-colorscheme="light"></div>

</div>

<script src="https://apis.google.com/js/platform.js"></script>
<script>
  $(function() {
    var video = window.location.hash;

    if (video) {
      $('.videos .active [href=' + video + ']').closest('li').addClass('current');
      $('.videos-container .videowrapper:nth-child(' + video.replace('#video-', '') + ')').show();
    } else {
      $('.videos .active:first').addClass('current');
      $('.videos-container .videowrapper:first').show();
    }

    $('.videos .active a').on('click', function(event) {
      var video = $(this).attr('href').replace('#video-', '');
      $('.videos .active').removeClass('current');
      $(this).closest('li').addClass('current');
      $('.videos-container .videowrapper').hide();
      $('.videos-container .videowrapper:nth-child(' + video + ')').show();
    });
  });

  fbq('track', 'ViewContent');
</script>
