<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.name }}</h2>

    <div class="footer-col-wrapper">

      <div class="footer-col  footer-col-1">
        <p class="text">{{ site.description }}</p>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.facebook_username %}
          <li>
            <a href="https://facebook.com/{{ site.facebook_username }}" target="_blank">facebook</a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">twitter</a>
          </li>
          {% endif %}

          {% if site.youtube_username %}
          <li>
            <a href="https://youtube.com/{{ site.youtube_username }}" target="_blank">youtube</a>
          </li>
          {% endif %}

          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}" target="_blank">github</a>
          </li>
          {% endif %}
        </ul>
      </div>

    </div>

    <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
      <img alt="Licença Creative Commons" src="https://i.creativecommons.org/l/by-nc-nd/4.0/80x15.png" />
    </a>

    - <a class="terms" href="/termos-de-uso.html">termos de uso</a>
    - <a class="terms" href="/politica-de-privacidade.html">política de privacidade</a>

  </div>

</footer>
