/* 7 passos para aprender a programar */
#sete-p {

  .cover {
    width: 50%;
    float: right;
    text-align: right;
  }

  .headline {
    width: 50%;
    float: left;
    margin-top: 70px;
  }

  .headline h1 {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .headline h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .headline h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 70px;
  }

  .description {
    clear: both;
    padding-top: 40px;
    border-top: 1px solid #eee;
    margin-bottom: 40px;
  }

  .btn-ebook {
    border: solid 2px;
    border-radius: 7px;;
    padding: 10px 15px;

    &:hover {
      background-color: $ruby-color;
      color: #fff;
    }
  }

  .wall {
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 15px 25px;
  }

}

.sete-passos-form {
  text-align: center;

  h1 {
    font-size: 23px;
    margin-bottom: 30px;
  }

  input {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 7px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 250px;
  }

  p {
    font-size: 16px;
    border-top: 1px solid #eee;
    padding-top: 15px;
    margin-top: 15px;
  }

  input[type=submit] {
    color: #eb5745;
    border: 2px solid #eb5745;
    background: none;
    width: 100px;

    &:hover {
      cursor: pointer;
      background-color: #eb5745;
      color: #fff;
    }
  }

}
