/* 7 passos para aprender a programar */
#sete-p {

  .cover {
    width: 50%;
    float: right;
    text-align: right;
  }

  .headline {
    width: 50%;
    float: left;
    margin-top: 70px;
  }

  .headline h1 {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .headline h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .headline h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 70px;
  }

  .description {
    clear: both;
    padding-top: 40px;
    border-top: 1px solid #eee;
    margin-bottom: 40px;
  }

  .description ul {
    list-style: square inside;
  }

  .btn-ebook {
    border: solid 2px;
    border-radius: 7px;;
    padding: 10px 15px;

    &:hover {
      background-color: $ruby-color;
      color: #fff;
    }
  }

  .btn-subscribe {
    border-radius: 7px;
    padding: 15px 30px;
    background: linear-gradient(to bottom, #fcd745 0%, #ffb835 100%);
    font-weight: bold;
    color: #222;

    &:hover {
      background: linear-gradient(to top, #fcd745 0%, #ffb835 100%);
      color: #000;
    }
  }

  .wall {
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 15px 25px;
  }

}

.sete-passos-form {
  text-align: center;

  h1 {
    font-size: 23px;
    margin-bottom: 30px;
  }

  input {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px 0;
    font-size: 16px;
    margin-bottom: 10px;
    width: 250px;
  }

  p {
    font-size: 16px;
    border-top: 1px solid #eee;
    padding-top: 15px;
    margin-top: 15px;
  }

  input[type=submit] {
    padding: 15px 0;
    background: linear-gradient(to bottom, #fcd745 0%, #ffb835 100%);
    font-weight: bold;
    color: #222;

    &:hover {
      cursor: pointer;
      background: linear-gradient(to top, #fcd745 0%, #ffb835 100%);
      color: #000;
    }
  }

}

#plc {
  .videos {
    text-align: center;
    margin: 60px 0;
  }

  .videos li {
    display: inline;
  }

  .videos li a {
    border: 1px solid;
    padding: 20px;
  }

  .videos li a {
    border-color: #ddd;
    color: #ccc;
  }

  .videos li.active a {
    border-color: $ruby-color;
    color: $ruby-color;

    &:hover {
      background-color: $ruby-color;
      color: #fff;
    }
  }

  .videos li.current a {
    background-color: $ruby-color;
    color: #fff;
  }

}
